<div class="content">
  <div class="row hover" (click)="showApp=!showApp">
    <div class="subRow">
      <div class="content-img">
        <img src="../assets/iconos-02.png" alt="apps">
      </div>
      <div class="description">
        <h3 class="title">Apss</h3>
        <p>Descrip on of the tasks to do on the screen tasks to do on the screen.of the tasks to do on the screen tasks to do
          on the screen do on the screen tasks to do on the screen</p>
      </div>
    </div>
  </div>
  <div [@enterAnimation] *ngIf="showApp" class="row content-calc">
      <app-operation></app-operation>
  </div>
  <div class="row hover" (click)="showUsers=!showUsers">
    <div class="subRow">
      <div class="content-img">
        <img src="../assets/iconos-03.png" alt="users">
      </div>
      <div class="description">
        <h3 class="title">Users</h3>
        <p>Descrip on of the tasks to do on the screen tasks to do on the screen.of the tasks to do on the screen tasks to do
          on the screen do on the screen tasks to do on the screen</p>
      </div>
    </div>
  </div>
  <div [@enterAnimation] *ngIf="showUsers" class="row content-calc">
      <app-operation></app-operation>
  </div>
</div>